/* GENERAL */
#root{
    height: 100vh;
    width: 100vw;
    background: linear-gradient(180deg, #159688 15%, #d6dbd7 15%);
}

#webappContainer{
    background-color: white;
    width: 85%;
    height: 95%;
}

#myProfile,
#interlocutor,
#type{
    background-color: #eaeaea;
    height: 8%;
    width: 100%;
}

/* SIDEBAR */
#sidebar{
    background-color: lightseagreen;
    height: 100%;
    width: 30%;
}


#chats{
    padding-inline-start: 0;
    overflow: auto;
}

.profile-name-image{
    height: 100%;
}

.profile-pic{
    border-radius: 50%;
    height: 80%;
}

.profile-name{
    font-weight: 500;
}

.profile-tool-icon{
    color: #b1b1b1;
}

#notifications{
    background-color: #91dbfb;
    height: 10%;
}

.notifications-background{
    background-color: white;
    height: 80%;
    border-radius: 50%;
    aspect-ratio: 1 / 1;
}

.bell{
    color: #91dbfb;
}

.activation-desktop{
    color: #637ea5
}

.activation-desktop:hover{
    color: #b1b1b1;
}

#chatSearching{
    background-color: #fafafa;
}

#searchbar{
    width: 90%;
}

.chat-preview{
    background-color: white;
    height: 20%;
}

.user-avatar{
    height: 80%;
    border-radius: 50%;
}

.message-input-bar{
    width: 80%;
}

/* CHAT SECTION */

#mainChat{
    width: 70%;
}

#chatArea{
    height: 84%;
    background-image: url('./../img/mine.jpg');
}


.chat-focus{
    background-color: #eaeaea;
    height: 15%;
    width: 100%;
}

.chat-container{
    background-color: white;
    height: 15%;
    width: 100%;
}


.chatContainer{

    width: 100%;
    height: 90%;
    overflow: auto;
}
    
.msg-text{
        font-size: 0.8rem;
}
    
.msg-hour{
        text-align:right;
        font-size: 0.5rem;
}
    
.white-msg,.green-msg{
      margin-top: 5px;  
      /* width: 250px; */
      max-width: 40%;
      padding: 8px;
      border-radius: 10px;   
}
    
.white-msg{
       background-color: white;
}

.green-msg{
        background-color:rgb(213, 249, 186);
}
    